body {
    margin: 10px;
    font: 100% Arial, sans-serif
}
h1 { font-size: 156% }
h1 img {
    margin: 1px 5px 0 1px;
    vertical-align: middle
}
.content-header {
    border-bottom-width: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-clip: padding-box;
}

.content-header .header-inner {
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e6ecf0;
    border-radius: 0;
    margin-bottom: 10px;
}

.content-header .header-inner h2 {
    color: #14171a;
    font-weight: bold;
    margin-bottom: 0;
}

.control-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.control-label {
    width: 120px;
    padding-top: 5px;
    text-align: left;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 0;
}

input {
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}
